html,body,div,ul,li,img,p,h3,a{
    margin: 0;
    padding: 0;
    font-family: "Microsoft yahei";
}

ul{
    list-style: none;
}

.newsList{
    padding: 15px;
}
.newsList li{
    position: relative;/*给图片准备的定位*/
    height: 70px;
    padding: 5px 0;
    border-bottom: 1px dashed #ccc;
    box-sizing: border-box; /*如果添加了padding属性，需要减去对应的宽高。添加上这个属性，就不用去修改宽高了*/
}
.newsList li div:nth-child(1){/*左边div odd*/
    position: absolute;
    left: 0;
    top: 5px;
    width: 60px;
    height: 60px;
    background: url("../images/load.jpg") no-repeat;
    background-size: 100% 100%;
}
.newsList li div:nth-child(1) img{
    width: 100%;
    height: 100%;
    border: none;
    vertical-align: top;
    opacity: 0;
}
.newsList li div:nth-child(2){/*右边div even*/
    height: 60px;
    margin-left: 70px;

}
.newsList li div:nth-child(2) h3{
    font-size: 16px;
    /*省略号*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.newsList li div:nth-child(2) p{
    color: #999;
    margin-top: 5px;
    font-size: 14px;
    line-height: 16px;
    /*省略号*/
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}

